{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->

<div class="g-3 mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    
    <!-- 訂單明細 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <div class="sub-title mb-3">訂單明細</div>
        <div id="tableExample2" data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table  fs--1 mb-0">
              <thead class="bg-200 text-900">
                <tr>
                  <th>案件狀態</th>
                  <th>日期</th>
                  <th>英文客人/名稱</th>
                  <th>上車位置</th>
                  <th>下車位置</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >
                    {% if case.case_state == 'wait' %}
                      <div class="case-status-on">等待派車</div>
                    {% elif case.case_state == 'way_to_catch' %} 
                      <div class="case-status-on">接客中</div>
                    {% elif case.case_state == 'arrived' or case.case_state == 'catched' %}
                      <div class="case-status-on">接到客人</div>
                    {% elif case.case_state == 'finished' %}
                      <div class="case-status-off">已完成</div>
                    {% elif case.case_state == 'canceled' %}
                      <div class="case-status-off">已取消</div>
                    {% endif %}
                  </td>
                  <td>{{case.create_time | date:'Y/m/d'}}</br>{{case.create_time | date:'H:i:s'}}</td>
                  <td>
                    {% if case.is_english == True %}
                      <span style="color: red; font-weight: bold;">是 / {{case.user_name}}</span>
                    {% elif case.is_english == False %}
                      否 / {{case.user_name}}
                    {% endif %}
                  </td>
                  <td>{{case.on_address}}</br>{{case.on_address_en}}</td>
                  <td>{{case.off_address}}</br>{{case.off_address_en}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 指定司機 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <p class="sub-title">指定司機</p>
        <div class="table-responsive scrollbar">
          <table class="table  fs--1 mb-0">
            <thead class="bg-200 text-900">
              <tr>
                <th>司機姓名</th>
                <th>車號</th>
                <th>車型</th>
                <th>預計幾分鐘到達</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{case.driver_name}}</td>
                <td>{{case.car_id_number}}</td>
                <td>{{case.car_model}}</td>
                <td>{{case.expect_minutes}}</td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 乘車狀態 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <p class="sub-title">乘車狀態</p>
        <p style="color: red; font-weight: bold;">＊乘車狀態按鈕一旦按下無法回復！</p>
        
        <form action="{% url 'order_driver_status' %}" method="post"> {% csrf_token %}
          <button class="change-state-button" disabled>接客中</button>
          <button class="change-state-button" type='submit' name='button_submit' value='catched'>載到客人</button>
          
          <button class="change-state-button" type='submit' name='button_submit' value='finished'>抵達目的地</button>

          {% if case.case_state == 'finished' %}
            {% if case.case_money == None or case.case_money == 0 %}
              <div class="my-3 flex-input">
                <label class="form-label pt-1" for="taxiFee" style="width: max-content;">輸入車資：</label>
                <input class="form-control" id="taxiFee" type="text" style="width: 15%;"  />
                &emsp;
                <button class="btn btn-danger" onclick="location.href='{% url 'orders' %}'">送出</button>
              </div>
            {% else %}
              <div class="my-3 flex-input">
                <label class="form-label pt-1" for="taxiFee" style="width: max-content;">車資：{{case.case_money}}</label>
              </div>
            {% endif %}
          {% endif %}
        </form>

      </div>
    </div>

  </div>
</div>
{% endblock %}