{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 內容 -->

<div class="g-3 mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    <!-- 消費者資訊 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <p class="sub-title">乘客資訊</p>
        <p><b>姓名：</b>{{case.user_name}}<b>&emsp;Email：</b>{{case.user_email}}</p>
      </div>
    </div>

    <!-- 訂單明細 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <div class="sub-title mb-3">訂單明細</div>
        <div id="tableExample2" data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table  fs--1 mb-0">
              <thead class="bg-200 text-900">
                <tr>
                  <th>案件狀態</th>
                  <th>日期</th>
                  {% if case.reserve_date_time %}
                    <th>預約時間</th>
                  {% endif %}
                  <th>英文客人/名稱</th>
                  <th>上車位置</th>
                  <th>下車位置</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >
                    {% if case.case_state == 'wait' %}
                      <div class="case-status-on">等待派車</div>
                    {% elif case.case_state == 'way_to_catch' %} 
                      <div class="case-status-on">接客中</div>
                    {% elif case.case_state == 'arrived' or case.case_state == 'catched' %}
                      <div class="case-status-on">接到客人</div>
                    {% elif case.case_state == 'finished' %}
                      <div class="case-status-off">已完成</div>
                    {% elif case.case_state == 'canceled' %}
                      <div class="case-status-off">已取消</div>
                    {% endif %}
                  </td>
                  <td>{{case.create_time | date:'Y/m/d'}}</br>{{case.create_time | date:'H:i:s'}}</td>
                  {% if case.reserve_date_time %}
                    <td>{{case.reserve_date_time | date:'Y/m/d'}}</br>{{case.reserve_date_time | date:'H:i:s'}}</td>
                  {% endif %}
                  <td>
                    {% if case.is_english == True %}
                      <span style="color: red; font-weight: bold;">是 / {{case.user_name}}</span>
                    {% elif case.is_english == False %}
                      否 / {{case.user_name}}
                    {% endif %}
                  </td>
                  <td>{{case.on_address}}</br>{{case.on_address_en}}</td>
                  <td>{{case.off_address}}</br>{{case.off_address_en}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 指定司機 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <p class="sub-title">指定司機</p>
        <div class="table-responsive scrollbar">
          <table class="table  fs--1 mb-0">
            <thead class="bg-200 text-900">
              <tr>
                <th>司機姓名</th>
                <th>車號</th>
                <th>車型</th>
                <th>預計幾分鐘到達</th>
              </tr>
            </thead>
            <tbody class="">
              <tr>
                <td>{{case.driver_name}}</td>
                <td>{{case.car_id_number}}</td>
                <td>{{case.car_model}}</td>
                <td>{{case.expect_minutes}}</td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 乘車明細 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <p class="sub-title">乘車明細</p>
        <div class="table-responsive scrollbar">
          <table class="table  fs--1 mb-0">
            <thead class="bg-200 text-900">
              <tr>
                <th>叫車時間</th>
                <th>派車時間</th>
                <th>客人上車</th>
                <th>客人抵達目的地</th>
                <th class="text-end">車資</th>
              </tr>
            </thead>
            <tbody class="">
              <tr>
                <td>{{case.create_time | date:'H:i:s'}}</td>
                <td>{{case.confirm_time | date:'H:i:s'}}</td>
                <td>{{case.catched_time | date:'H:i:s'}}</td>
                <td>{{case.off_time | date:'H:i:s'}}</td>
                <td class="text-end" style="color: red ">{{case.case_money}}</td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}  