{% extends 'backboard/base.html' %} {% block content %}
{% load static %}


<!-- 內容 -->

<div class="g-3 mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <div class="sub-title mb-3">訂單明細</div>
        <div id="tableExample2" data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table  fs--1 mb-0">
              <thead class="bg-200 text-900">
                <tr>
                  <th>案件狀態</th>
                  <th>日期</th>
                  <th>英文客人/名稱</th>
                  <th>上車位置</th>
                  <th>下車位置</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td > 
                    <div class="case-status-on">等待派車</div>
                  </td>
                  <td>{{case.create_time | date:'Y/m/d'}}</br>{{case.create_time | date:'H:i:s'}}</td>
                  <td>
                    {% if case.is_english == True %}
                      <span style="color: red; font-weight: bold;">是 / {{case.user_name}}</span>
                    {% elif case.is_english == False %}
                      否 / {{case.user_name}}
                    {% endif %}
                    </td>
                  <td>{{case.on_address}}</br>{{case.on_address_en}}</td>
                  <td>{{case.off_address}}</br>{{case.off_address_en}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 指定司機 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <p class="sub-title">指定司機</p>

        <form action="{% url 'order_assign_driver' %}" method="post"> {% csrf_token %}
          <div class="mb-3" style="width: 50%;">
            <label class="form-label" for="driverName">司機姓名：</label>
            <input class="form-control" id="driverName" name="driverName" type="text"  />
          </div>
          <div class="mb-3" style="width: 50%;">
              <label class="form-label" for="carNumber">車號：</label>
              <input class="form-control" id="carNumber" name="carNumber" type="text"  />
          </div>
          <div class="mb-3" style="width: 50%;">
              <label class="form-label" for="carModel">車型：</label>
              <input class="form-control" id="carModel" name="carModel" type="text"  />
          </div>
          <div class="mb-3" style="width: 50%;">
              <label class="form-label" for="minutesToArrive">預計幾分鐘到達：</label>
              <input class="form-control" id="minutesToArrive" name="minutesToArrive" type="text"  />
          </div>
          <input type="hidden" id="case_id" name="case_id" value={{case.id}}>

          <div class="text-end">
            <button class="btn btn-danger" type="submit" name="submit">送出</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}  